.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    margin: 10px
}

.info {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.info > * {
    margin: 5px;
    text-align: center;
}
.prompt, .content, .info > h5 {
    font-family: 'Courier New', Courier, monospace;
}
.info > h5 {
    font-weight: lighter;
    padding-bottom: 50px;
}

.prompt {
    font-weight: bold;
    border: 1px dotted;
    border-radius: 10px;
    padding: 20px
}

.content {
    max-width: 400px;
}

.collapsable {
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}